<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="activities"></ion-back-button>
    </ion-buttons>
    <ion-icon style="margin-left: 15px;font-size: 30px;" slot="end" name="share-social-outline"></ion-icon>
    <ion-icon style="margin-left: 15px;font-size: 30px;" slot="end" name="ellipsis-vertical-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-text-center ion-padding">
    <ion-badge color="light">On Hold</ion-badge>
    <ion-badge style="margin-left: 15px;padding: 5px;" color="primary">Todo</ion-badge>
    <ion-badge style="margin-left: 15px;padding: 5px;" color="light">Doing</ion-badge>
    <ion-badge style="margin-left: 15px;padding: 5px;" color="light">Done</ion-badge>
  </div>  

  <ion-card-content style="padding: 0px !important;">
    <ion-img [src]="'https://mdbootstrap.com/img/Photos/Others/images/76.jpg'" no-margin no-padding
      style="width: 100%;"></ion-img>
  </ion-card-content>

  <div class="ion-text-center ion-padding">
    <ion-badge color="light">On Hold</ion-badge>
    <ion-badge style="margin-left: 15px;padding: 5px;" color="primary">Todo</ion-badge>
    <ion-badge style="margin-left: 15px;padding: 5px;" color="light">Doing</ion-badge>
    <ion-badge style="margin-left: 15px;padding: 5px;" color="light">Done</ion-badge>
  </div>

  <ion-card-content style="padding: 10px;">
    <p class="mt15">Created By <span style="color:blue">Franchis Panramo</span> on {{ "21:08:1998" | date : 'medium'}}</p>
    <br>
    <ion-badge color="danger" class="ml5 mt15">
      <span class="ml2">Content Related</span>
    </ion-badge>
    <br>
    <br>
    <ion-card-title class="mt15"><b>The Value of Nimble and Discipline investing</b></ion-card-title>
    <br>
    <p>
      At vero et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
       corrupti quos dolores et quas excepturi sint 
    </p>
    <br>
    <p style="margin-top: 50px;" class="ml15">Attachments (4)</p>

    <div style="margin-top: 10px;">
      <ion-list>
        <ion-item>
          <ion-thumbnail style="width: 50px;height: 50px;" slot="start">
            <img src="https://mdbootstrap.com/img/Photos/Others/images/76.jpg">
          </ion-thumbnail>
          <ion-label>
            <p>
              test
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail style="width: 50px;height: 50px;" slot="start">
            <img src="https://mdbootstrap.com/img/Photos/Others/images/76.jpg">
          </ion-thumbnail>
          <ion-label>
            <p>
              test
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail style="width: 50px;height: 50px;" slot="start">
            <img src="https://mdbootstrap.com/img/Photos/Others/images/76.jpg">
          </ion-thumbnail>
          <ion-label>
            <p>
              test
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail style="width: 50px;height: 50px;" slot="start">
            <img src="https://mdbootstrap.com/img/Photos/Others/images/76.jpg">
          </ion-thumbnail>
          <ion-label>
            <p>
              test
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <ion-item-divider></ion-item-divider>
    <ion-card-content>
      <p style="margin-top: 20px;" class="ml15">Participants (25)</p>
      <ion-row>
      <ion-col>
       <span>
        <img style="width: 25px;height: 25px;border-radius: 25px;" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" class="scroll-item"/>
       </span>
       <span>
        <img style="width: 25px;height: 25px;border-radius: 25px;" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" class="scroll-item"/>
       </span>
       <span>
        <img style="width: 25px;height: 25px;border-radius: 25px;" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" class="scroll-item"/>
       </span>
       <span>
        <img style="width: 25px;height: 25px;border-radius: 25px;" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" class="scroll-item"/>
       </span>
       <span>
        <img style="width: 25px;height: 25px;border-radius: 25px;" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" class="scroll-item"/>
       </span>
       <span>
        <img style="width: 25px;height: 25px;border-radius: 25px;" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" class="scroll-item"/>
       </span>
       <span style="position: absolute;margin-left: 10px;">
         25 +
       </span>
      </ion-col>
      </ion-row>
    </ion-card-content>

    <ion-card>
      <ion-card-header>Comments 4</ion-card-header>
  
      <ion-row>
        <ion-col size="1">
          <ion-avatar style="margin-top: 35px;">
            <img style="width: 25px;height: 25px;"
              src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-item class="classter" style="margin-top: 25px;">
            <ion-input type="text" [(ngModel)]="newComment" placeholder="Add a Comment"></ion-input>
            <ion-icon class="font-size: 20px;" slot="end" name="attach-outline"></ion-icon>
            <ion-icon class="font-size: 20px;" style="margin-left: 5px;" name="send-outline">
            </ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row style="margin-top: 10px;padding: 15px;" *ngFor="let comment of discussion.comments">
        <ion-col size="1">
          <ion-avatar style="margin-top: 35px;">
            <img style="width: 25px;height: 25px;"
              src="{{comment.profileImage ? comment.profileImage : 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y'}}">
          </ion-avatar>
        </ion-col>
        <ion-col style="background: #f8f8f8">
          <p>{{comment?.fullName}} &nbsp; {{comment?.datePosted | date : 'medium'}}</p>
          <div class="classter">
            <b>{{comment?.comment}}</b>
            <div style="margin-top: 50px;">
              <ion-icon style="font-size: 20px;" name="share-social-outline"></ion-icon>
              <ion-badge (click)="presentAskExpertModal()"
                style="padding: 5px;border: 2px solid;border-radius: 50px;margin-left: 40px;" color="light">Ask an Expert
              </ion-badge>
              <ion-icon style="margin-left: 40px;font-size: 20px;"
                name="bookmark-outline"></ion-icon>
              <ion-icon style="font-size: 20px;float: right;" name="bookmark-outline"></ion-icon>
            </div>
          </div>
        </ion-col>
      </ion-row>
  
    </ion-card>

  </ion-card-content>
</ion-content>