<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="activities"></ion-back-button>
    </ion-buttons>
    <ion-icon style="margin-left: 15px;font-size: 30px;" slot="end" name="share-social-outline"></ion-icon>
    <ion-icon style="margin-left: 15px;font-size: 30px;" slot="end" name="ellipsis-vertical-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-text-center">
    <ion-badge color="primary">11</ion-badge>
    <ion-badge color="secondary">22</ion-badge>
    <ion-badge color="tertiary">33</ion-badge>
    <ion-badge color="success">44</ion-badge>
  </div>
</ion-content>