<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="processes"></ion-back-button>
    </ion-buttons>
    <ion-icon style="margin-left: 15px;font-size: 30px;" slot="end" name="share-social-outline"></ion-icon>
    <ion-icon style="margin-left: 15px;font-size: 30px;" slot="end" name="ellipsis-vertical-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--   -->

  <ion-card-content style="padding: 10px;">
    <p class="mt15">Communications - Ethics</p>
    <br>
    <ion-card-title class="mt15"><b>Lipsum Dolor Sit Amet</b></ion-card-title>
    <br>
    <p>
      On the other hand , we denounce with righteous intignation At vero et accumsas et lusto odio dignissimos ducimus
      qui blanditiss prease ntium voluntium delenti atque
      corrupti quos dolores et quas excepturi sint, On the other hand , we denounce with righteous intignation At vero
      et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
      corrupti quos dolores et quas excepturi sint, On the other hand , we denounce with righteous intignation At vero
      et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
      corrupti quos dolores et quas excepturi sint, On the other hand , we denounce with righteous intignation At vero
      et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
      corrupti quos dolores et quas excepturi sint, On the other hand , we denounce with righteous intignation At vero
      et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
      corrupti quos dolores et quas excepturi sint, On the other hand , we denounce with righteous intignation At vero
      et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
      corrupti quos dolores et quas excepturi sint, On the other hand , we denounce with righteous intignation At vero
      et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
      corrupti quos dolores et quas excepturi sint, On the other hand , we denounce with righteous intignation At vero
      et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
      corrupti quos dolores et quas excepturi sint,
    </p>
    <br>
    <p class="ml15 mt50">Attachments (4)</p>

    <div class="mt10">
      <ion-list>
        <ion-item>
          <ion-thumbnail class="imgStyle" slot="start">
            <img src="https://mdbootstrap.com/img/Photos/Others/images/76.jpg">
          </ion-thumbnail>
          <ion-label>
            <p>
              test
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail class="imgStyle" slot="start">
            <img src="https://mdbootstrap.com/img/Photos/Others/images/76.jpg">
          </ion-thumbnail>
          <ion-label>
            <p>
              test
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail class="imgStyle" slot="start">
            <img src="https://mdbootstrap.com/img/Photos/Others/images/76.jpg">
          </ion-thumbnail>
          <ion-label>
            <p>
              test
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail class="imgStyle" slot="start">
            <img src="https://mdbootstrap.com/img/Photos/Others/images/76.jpg">
          </ion-thumbnail>
          <ion-label>
            <p>
              test
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <ion-card-content>
      <h4 style="margin-top: 20px;" class="ml15"><b>Step 1 : Basic 5 whys analysis</b></h4>

      <br>
      <p>
        On the other hand , we denounce with righteous intignation At vero et accumsas et lusto odio dignissimos ducimus
        qui blanditiss prease ntium voluntium delenti atque
        corrupti quos dolores et quas excepturi sint, On the other hand , we denounce with righteous intignation At vero
        et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
        corrupti quos dolores et quas excepturi sint, On the other hand , we denounce with righteous intignation At vero
        et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
        corrupti quos dolores et quas excepturi sint, On the other hand , we denounce with righteous intignation At vero
        et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
        corrupti quos dolores et quas excepturi sint, On the other hand , we denounce with righteous intignation At vero
        et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
        corrupti quos dolores et quas excepturi sint, On the other hand , we denounce with righteous intignation At vero
        et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
        corrupti quos dolores et quas excepturi sint, On the other hand , we denounce with righteous intignation At vero
        et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
        corrupti quos dolores et quas excepturi sint, On the other hand , we denounce with righteous intignation At vero
        et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
        corrupti quos dolores et quas excepturi sint,
      </p>
      <br>
    </ion-card-content>
    <ion-card-content class="p0">
      <ion-img [src]="'https://mdbootstrap.com/img/Photos/Others/images/76.jpg'" no-margin no-padding
        style="width: 100%;"></ion-img>
    </ion-card-content>
    <ion-card-content>
      <h4 style="margin-top: 20px;" class="ml15"><b>Step 2 : Basic 5 whys analysis</b></h4>

      <br>
      <p>
        On the other hand , we denounce with righteous intignation At vero et accumsas et lusto odio dignissimos ducimus
        qui blanditiss prease ntium voluntium delenti atque
        corrupti quos dolores et quas excepturi sint, On the other hand , we denounce with righteous intignation At vero
        et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
        corrupti quos dolores et quas excepturi sint, On the other hand , we denounce with righteous intignation At vero
        et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
        corrupti quos dolores et quas excepturi sint, On the other hand , we denounce with righteous intignation At vero
        et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
        corrupti quos dolores et quas excepturi sint, On the other hand , we denounce with righteous intignation At vero
        et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
        corrupti quos dolores et quas excepturi sint, On the other hand , we denounce with righteous intignation At vero
        et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
        corrupti quos dolores et quas excepturi sint, On the other hand , we denounce with righteous intignation At vero
        et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
        corrupti quos dolores et quas excepturi sint, On the other hand , we denounce with righteous intignation At vero
        et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
        corrupti quos dolores et quas excepturi sint,
      </p>
      <br>
      <div style="background:#dedede;padding: 5px;">
        <p style="color: blue;">TIP</p>
        <br>
        On the other hand , we denounce with righteous intignation At vero et accumsas et lusto odio dignissimos ducimus
        qui blanditiss prease ntium voluntium delenti atque
        corrupti quos dolores et quas excepturi sint, On the other hand , we denounce with righteous intignation At vero
        et accumsas et lusto odio dignissimos ducimus qui blanditiss prease ntium voluntium delenti atque
        corrupti quos dolores et quas excepturi sint,
      </div>
      <br>
      <div style="color: blue;">Some Hyperlink</div>
    </ion-card-content>
    <ion-card-content class="p0">
      <ion-img [src]="'https://mdbootstrap.com/img/Photos/Others/images/76.jpg'" no-margin no-padding
        style="width: 100%;"></ion-img>
    </ion-card-content>
    <ion-card-content>
      <br>
      <p>
        On the other hand , we denounce with righteous intignation At vero et accumsas et lusto odio dignissimos ducimus
        qui blanditiss prease ntium voluntium delenti atque
        corrupti quos dolores et quas excepturi sint,
      </p>
    </ion-card-content>
    <ion-card>
      <ion-card-header>Comments 4</ion-card-header>

      <ion-row>
        <ion-col size="1">
          <ion-avatar style="margin-top: 35px;">
            <img class="imgStyle2" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-item class="classter" style="margin-top: 25px;">
            <ion-input type="text" [(ngModel)]="newComment" placeholder="Add a Comment"></ion-input>
            <ion-icon style="font-size: 20px;" slot="end" name="attach-outline"></ion-icon>
            <ion-icon style="font-size: 20px;margin-left: 5px;" name="send-outline">
            </ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 10px;padding: 15px;" *ngFor="let comment of discussion.comments">
        <ion-col size="1">
          <ion-avatar style="margin-top: 35px;">
            <img class="imgStyle2"
              src="{{comment.profileImage ? comment.profileImage : 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y'}}">
          </ion-avatar>
        </ion-col>
        <ion-col style="background: #f8f8f8">
          <p>{{comment?.fullName}} &nbsp; {{comment?.datePosted | date : 'medium'}}</p>
          <div class="classter">
            <b>{{comment?.comment}}</b>
            <div class="mt50">
              <ion-icon style="font-size: 20px;" name="share-social-outline"></ion-icon>
              <ion-badge (click)="presentAskExpertModal()" class="badgeStyle" color="light">Ask an Expert
              </ion-badge>
              <ion-icon style="margin-left: 40px;font-size: 20px;" name="bookmark-outline"></ion-icon>
              <ion-icon style="font-size: 20px;float:right;margin-right: 5px;margin-top: 7px;" name="bookmark-outline">
              </ion-icon>
            </div>
          </div>
        </ion-col>
      </ion-row>

    </ion-card>

  </ion-card-content>
  
</ion-content>