<ion-content>
  <div class="ion-text-center">
    <ion-icon  style="font-size: 50px;" name="glasses-outline"></ion-icon>
    <div  style="margin-top: 20px;">
      <h5><b>Need an Expert ?</b></h5>
      <div style="float: left;">
        <p>The Following message and its context will be sent to our expert for a review</p>
      
        <div style="background: #dcd5d5;margin: 20px;padding: 20px;">
          At vero eos et accusamus et lusto odio dignissimos ducimus qui blandities praesentium voluptatum deleniti
          atqueue corrupti
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer  class="ion-no-border" style="padding: 10px;">
  <ion-button size="small" style="float: left;" shape="round" color="light">Cancel</ion-button>
  <ion-button size="small" style="float: right;" shape="round" color="primary">Ask an Expert</ion-button>
</ion-footer>

