<ion-content class="content-back">

  <div class="mt50">CONTINUE READING</div>
<ion-grid>
  <ion-row>
    <ion-col>
     

      <ion-card >
    
        <ion-card-header class="p0">
          <ion-img [src]="'https://mdbootstrap.com/img/Photos/Others/images/76.jpg'" class="w100"></ion-img>
        </ion-card-header>
    
        <ion-card-content>
          <ion-card-title><b>Nine Inch Nails Live</b></ion-card-title>
          <p>Episode 2/2 in Ethics</p>
          <p>
            Greyhound divisely hello coldy wonderfull marginally far
          </p>
          <div class="para_icons">
            <ion-chip class="action_chips" color="warning">
              <ion-label>1</ion-label>
              <ion-icon color="warning" name="trophy-outline"></ion-icon>
            </ion-chip>
            <ion-chip color="danger" class="action_chips">
              <ion-label>Mandatory</ion-label>
              <ion-icon name="alert-outline"></ion-icon>
            </ion-chip>
            <ion-chip color="medium" class="action_chips">
              <ion-label>30min</ion-label>
              <ion-icon name="time-outline"></ion-icon>
            </ion-chip>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card >
        <ion-card-header style="background: black;padding: 0px !important;">
         <ion-row>
           <ion-col size="8">
            <ion-button style="width: 61px;
            height: 21px;
            font-size: 8px;" size="small" color="light" expand="block" fill="outline">Channel</ion-button>
            <br>
            <div style="color: white;">Understanding the Alternatives</div>
           </ion-col>
           <ion-col>
             <div style="float :right">
              <ion-icon style="color: white;float:right;" name="ellipsis-vertical-outline"></ion-icon>
             </div>
           </ion-col>
         </ion-row>
        </ion-card-header>
        <ion-card-header class="p0">
          <ion-img [src]="'https://mdbootstrap.com/img/Photos/Others/images/76.jpg'" class="w100"></ion-img>
        </ion-card-header>
    
        <ion-card-content>
          <div style="padding: 3px;font-size: 0.3px;"><b>
            This Channel Focus on Understanding the alternatives. In particular it is covers BTIM Diversified 
            Strategies Fund
          </b></div>
          <div class="para_icons">
            <ion-chip class="action_chips" color="warning">
              <ion-label>1</ion-label>
              <ion-icon color="warning" name="trophy-outline"></ion-icon>
            </ion-chip>
            <ion-chip color="danger" class="action_chips">
              <ion-label>Mandatory</ion-label>
              <ion-icon name="alert-outline"></ion-icon>
            </ion-chip>
            <ion-chip color="medium" class="action_chips">
              <ion-label>30min</ion-label>
              <ion-icon name="time-outline"></ion-icon>
            </ion-chip>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card >
        <ion-card-header style="background: blue;padding: 0px !important;">
         <ion-row>
           <ion-col size="8">
            <ion-button style="width: 61px;
            height: 21px;
            font-size: 8px;" size="small" color="light" expand="block" fill="outline">Course</ion-button>
            <br>
            <div style="color: white;">Understanding the Alternatives</div>
           </ion-col>
           <ion-col>
             <div style="float :right">
              <ion-icon style="color: white;float:right;" name="ellipsis-vertical-outline"></ion-icon>
             </div>
           </ion-col>
         </ion-row>
        </ion-card-header>
        <ion-card-header class="p0">
          <ion-img [src]="'https://mdbootstrap.com/img/Photos/Others/images/76.jpg'" class="w100"></ion-img>
        </ion-card-header>
    
        <ion-card-content>
          <div style="padding: 3px;font-size: 0.3px;"><b>
            This Channel Focus on Understanding the alternatives. In particular it is covers BTIM Diversified 
            Strategies Fund
          </b></div>
          <div class="para_icons">
            <ion-chip class="action_chips" color="warning">
              <ion-label>1</ion-label>
              <ion-icon color="warning" name="trophy-outline"></ion-icon>
            </ion-chip>
            <ion-chip color="danger" class="action_chips">
              <ion-label>Mandatory</ion-label>
              <ion-icon name="alert-outline"></ion-icon>
            </ion-chip>
            <ion-chip color="medium" class="action_chips">
              <ion-label>30min</ion-label>
              <ion-icon name="time-outline"></ion-icon>
            </ion-chip>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>