<ion-content>

  <div class="mt50">CONTINUE READING</div>
  <!-- <ion-card >

    <ion-card-header class="p0">
      <ion-img [src]="'https://mdbootstrap.com/img/Photos/Others/images/76.jpg'" class="w100"></ion-img>
    </ion-card-header>

    <ion-card-content>
      <ion-card-title><b>Nine Inch Nails Live</b></ion-card-title>
      <p>Episode 2/2 in Ethics</p>
      <p>
        Greyhound divisely hello coldy wonderfull marginally far
      </p>
      <ion-badge color="warning">
        <ion-icon name="git-network-outline"></ion-icon>1
      </ion-badge>
      <ion-badge color="danger" class="ml5">
        <ion-icon name="alert-circle-outline"></ion-icon> <span class="ml2">Mandatory</span>
      </ion-badge>
      <ion-badge color="light" class="ml5">
        <ion-icon name="time-outline"></ion-icon>30m
      </ion-badge>
    </ion-card-content>
  </ion-card> -->

<ion-grid>
  <ion-row>
    <ion-col>
     

      <ion-card >
    
        <ion-card-header class="p0">
          <ion-img [src]="'https://mdbootstrap.com/img/Photos/Others/images/76.jpg'" class="w100"></ion-img>
        </ion-card-header>
    
        <ion-card-content>
          <ion-card-title><b>Nine Inch Nails Live</b></ion-card-title>
          <p>Episode 2/2 in Ethics</p>
          <p>
            Greyhound divisely hello coldy wonderfull marginally far
          </p>
          <ion-badge color="warning">
            <ion-icon name="git-network-outline"></ion-icon>1
          </ion-badge>
          <ion-badge color="danger" class="ml5">
            <ion-icon name="alert-circle-outline"></ion-icon> <span class="ml2">Mandatory</span>
          </ion-badge>
          <ion-badge color="light" class="ml5">
            <ion-icon name="time-outline"></ion-icon>30m
          </ion-badge>
        </ion-card-content>
      </ion-card>

      <ion-card >
    
        <ion-card-header class="p0">
          <ion-img [src]="'https://mdbootstrap.com/img/Photos/Others/images/76.jpg'" class="w100"></ion-img>
        </ion-card-header>
    
        <ion-card-content>
          <ion-card-title><b>Nine Inch Nails Live</b></ion-card-title>
          <p>Episode 2/2 in Ethics</p>
          <p>
            Greyhound divisely hello coldy wonderfull marginally far
          </p>
          <ion-badge color="warning">
            <ion-icon name="git-network-outline"></ion-icon>1
          </ion-badge>
          <ion-badge color="danger" class="ml5">
            <ion-icon name="alert-circle-outline"></ion-icon> <span class="ml2">Mandatory</span>
          </ion-badge>
          <ion-badge color="light" class="ml5">
            <ion-icon name="time-outline"></ion-icon>30m
          </ion-badge>
        </ion-card-content>
      </ion-card>

      <ion-card >
    
        <ion-card-header class="p0">
          <ion-img [src]="'https://mdbootstrap.com/img/Photos/Others/images/76.jpg'" class="w100"></ion-img>
        </ion-card-header>
    
        <ion-card-content>
          <ion-card-title><b>Nine Inch Nails Live</b></ion-card-title>
          <p>Episode 2/2 in Ethics</p>
          <p>
            Greyhound divisely hello coldy wonderfull marginally far
          </p>
          <ion-badge color="warning">
            <ion-icon name="git-network-outline"></ion-icon>1
          </ion-badge>
          <ion-badge color="danger" class="ml5">
            <ion-icon name="alert-circle-outline"></ion-icon> <span class="ml2">Mandatory</span>
          </ion-badge>
          <ion-badge color="light" class="ml5">
            <ion-icon name="time-outline"></ion-icon>30m
          </ion-badge>
        </ion-card-content>
      </ion-card>

      <ion-card >
    
        <ion-card-header class="p0">
          <ion-img [src]="'https://mdbootstrap.com/img/Photos/Others/images/76.jpg'" class="w100"></ion-img>
        </ion-card-header>
    
        <ion-card-content>
          <ion-card-title><b>Nine Inch Nails Live</b></ion-card-title>
          <p>Episode 2/2 in Ethics</p>
          <p>
            Greyhound divisely hello coldy wonderfull marginally far
          </p>
          <ion-badge color="warning">
            <ion-icon name="git-network-outline"></ion-icon>1
          </ion-badge>
          <ion-badge color="danger" class="ml5">
            <ion-icon name="alert-circle-outline"></ion-icon> <span class="ml2">Mandatory</span>
          </ion-badge>
          <ion-badge color="light" class="ml5">
            <ion-icon name="time-outline"></ion-icon>30m
          </ion-badge>
        </ion-card-content>
      </ion-card>

      <ion-card >
    
        <ion-card-header class="p0">
          <ion-img [src]="'https://mdbootstrap.com/img/Photos/Others/images/76.jpg'" class="w100"></ion-img>
        </ion-card-header>
    
        <ion-card-content>
          <ion-card-title><b>Nine Inch Nails Live</b></ion-card-title>
          <p>Episode 2/2 in Ethics</p>
          <p>
            Greyhound divisely hello coldy wonderfull marginally far
          </p>
          <ion-badge color="warning">
            <ion-icon name="git-network-outline"></ion-icon>1
          </ion-badge>
          <ion-badge color="danger" class="ml5">
            <ion-icon name="alert-circle-outline"></ion-icon> <span class="ml2">Mandatory</span>
          </ion-badge>
          <ion-badge color="light" class="ml5">
            <ion-icon name="time-outline"></ion-icon>30m
          </ion-badge>
        </ion-card-content>
      </ion-card>

      <ion-card >
    
        <ion-card-header class="p0">
          <ion-img [src]="'https://mdbootstrap.com/img/Photos/Others/images/76.jpg'" class="w100"></ion-img>
        </ion-card-header>
    
        <ion-card-content>
          <ion-card-title><b>Nine Inch Nails Live</b></ion-card-title>
          <p>Episode 2/2 in Ethics</p>
          <p>
            Greyhound divisely hello coldy wonderfull marginally far
          </p>
          <ion-badge color="warning">
            <ion-icon name="git-network-outline"></ion-icon>1
          </ion-badge>
          <ion-badge color="danger" class="ml5">
            <ion-icon name="alert-circle-outline"></ion-icon> <span class="ml2">Mandatory</span>
          </ion-badge>
          <ion-badge color="light" class="ml5">
            <ion-icon name="time-outline"></ion-icon>30m
          </ion-badge>
        </ion-card-content>
      </ion-card>

      <ion-card >
    
        <ion-card-header class="p0">
          <ion-img [src]="'https://mdbootstrap.com/img/Photos/Others/images/76.jpg'" class="w100"></ion-img>
        </ion-card-header>
    
        <ion-card-content>
          <ion-card-title><b>Nine Inch Nails Live</b></ion-card-title>
          <p>Episode 2/2 in Ethics</p>
          <p>
            Greyhound divisely hello coldy wonderfull marginally far
          </p>
          <ion-badge color="warning">
            <ion-icon name="git-network-outline"></ion-icon>1
          </ion-badge>
          <ion-badge color="danger" class="ml5">
            <ion-icon name="alert-circle-outline"></ion-icon> <span class="ml2">Mandatory</span>
          </ion-badge>
          <ion-badge color="light" class="ml5">
            <ion-icon name="time-outline"></ion-icon>30m
          </ion-badge>
        </ion-card-content>
      </ion-card>

       <ion-card >
    
        <ion-card-header class="p0">
          <ion-img [src]="'https://mdbootstrap.com/img/Photos/Others/images/76.jpg'" class="w100"></ion-img>
        </ion-card-header>
    
        <ion-card-content>
          <ion-card-title><b>Nine Inch Nails Live</b></ion-card-title>
          <p>Episode 2/2 in Ethics</p>
          <p>
            Greyhound divisely hello coldy wonderfull marginally far
          </p>
          <ion-badge color="warning">
            <ion-icon name="git-network-outline"></ion-icon>1
          </ion-badge>
          <ion-badge color="danger" class="ml5">
            <ion-icon name="alert-circle-outline"></ion-icon> <span class="ml2">Mandatory</span>
          </ion-badge>
          <ion-badge color="light" class="ml5">
            <ion-icon name="time-outline"></ion-icon>30m
          </ion-badge>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>