.image--size {
    width: 100%;
    height: 65.66px;
    object-fit: cover;
 }

.mt50{
margin-top: 25px;
}

.p0
{
    padding: 0px !important;
}

.w100
{
    width: 100%;
}

.ml5
{
    margin-left: 5px;
}

.ml2
{
    margin-left: 2px;
}

.content-back{
    --background: #f6efef
  }