<ion-content>
  <ion-list>
    <ion-item (click)="routeToContact()">
      <span>
        <img style="width: 25px;height: 25px;border-radius:25px"
          src="https://mdbootstrap.com/img/Photos/Others/images/76.jpg">
      </span>
      <span style="margin-left: 5px;"> New Idea</span>
    </ion-item>
    <ion-item (click)="routeToParticipants()">
      <span>
        <img style="width: 25px;height: 25px;border-radius:25px"
          src="https://mdbootstrap.com/img/Photos/Others/images/76.jpg">
      </span>
      <span style="margin-left: 5px;">New General Discussion</span>
    </ion-item>
    <ion-item>
      <span>
        <img style="width: 25px;height: 25px;border-radius:25px"
          src="https://mdbootstrap.com/img/Photos/Others/images/76.jpg">
      </span>
      <span style="margin-left: 5px;">New Content Discussion</span>
    </ion-item>
  </ion-list>

</ion-content>