
<ion-content>
 
  <!-- <div class="data_list"> -->
    <p class="data_titles">CONTINUE LEARNING</p>
    <ion-card class="data_card">
  
      <ion-card-header style="padding:  0px !important;">
        <ion-img [src]="'https://mdbootstrap.com/img/Photos/Others/images/76.jpg'"
          style="width: 100%;"></ion-img>
      </ion-card-header>
  
      <ion-card-content>
        <p style="font-size:14px;font-weight: bold;color:black">Ethics & good decision making</p>
        <p style="font-size:12px;color:black">Episodes 2/2 in Ethics</p>
        <p style="margin-top:10px;font-size: 12px;">GreyHound divisely...</p>
        <div class="para_icons">
          <ion-chip class="action_chips" color="warning">
            <ion-label>1</ion-label>
            <ion-icon color="warning" name="trophy-outline"></ion-icon>
          </ion-chip>
          <ion-chip color="danger" class="action_chips">
            <ion-label>Mandatory</ion-label>
            <ion-icon name="alert-outline"></ion-icon>
          </ion-chip>
          <ion-chip color="medium" class="action_chips">
            <ion-label>30min</ion-label>
            <ion-icon name="time-outline"></ion-icon>
          </ion-chip>
        </div>
      </ion-card-content>
    </ion-card>

    <p class="data_titles">DUE SOONEST</p>
    <ion-card class="data_card">
      <ion-item>

        <ion-label>ion-item in a card, icon left, button right</ion-label>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-card-header style="padding:  0px !important;">
        <ion-img [src]="'https://mdbootstrap.com/img/Photos/Others/images/76.jpg'"
          style="width: 100%;"></ion-img>
      </ion-card-header>
  
      <ion-card-content>
        <p style="font-size:14px;font-weight: bold;color:black">Ethics & good decision making</p>
        <p style="font-size:12px;color:black">Episodes 2/2 in Ethics</p>
        <p style="margin-top:10px;font-size: 12px;">GreyHound divisely...</p>
        <div class="para_icons">
          <ion-chip class="action_chips" color="medium">
            <ion-label>1</ion-label>
            <ion-icon color="warning" name="person-outline"></ion-icon>
          </ion-chip>
          <ion-chip color="medium" class="action_chips">
            <ion-label>81</ion-label>
            <ion-icon name="chatbubbles-outline"></ion-icon>
          </ion-chip>
          <ion-chip color="medium" class="action_chips">
            <ion-label>1</ion-label>
            <ion-icon name="attach-outline"></ion-icon>
          </ion-chip>
          <ion-chip color="medium" class="action_chips">
            <ion-label>1</ion-label>
            <ion-icon name="share-social-outline"></ion-icon>
          </ion-chip>
        </div>
      </ion-card-content>
    </ion-card>


    <!--<ion-card class="data_card">
     
      <div class="img_resize">
      <img
        src="http://images.unsplash.com/photo-1471879832106-c7ab9e0cee23?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max" />
      </div>
      <ion-card-content>
        <p style="font-size:14px;font-weight: bold;color:black">Ethics & good decision making</p>
        <p style="font-size:12px;color:black">Episodes 2/2 in Ethics</p>
        <p style="margin-top:10px;font-size: 12px;">GreyHound divisely...</p>
        <div class="para_icons">
          <ion-chip class="action_chips" color="warning">
            <ion-label>1</ion-label>
            <ion-icon color="warning" name="trophy-outline"></ion-icon>
          </ion-chip>
          <ion-chip color="danger" class="action_chips">
            <ion-label>Mandatory</ion-label>
            <ion-icon name="alert-outline"></ion-icon>
          </ion-chip>
          <ion-chip color="medium" class="action_chips">
            <ion-label>30min</ion-label>
            <ion-icon name="time-outline"></ion-icon>
          </ion-chip>
        </div>
      </ion-card-content>
    </ion-card>
  -->
    
    <ion-card class="data_card">
      <ion-item>

        <ion-label>Alternatives</ion-label>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-card-header style="padding:  0px !important;">
        <ion-img [src]="'https://mdbootstrap.com/img/Photos/Others/images/76.jpg'"
          style="width: 100%;"></ion-img>
      </ion-card-header>
  
      <ion-card-content>
        <p style="font-size:14px;font-weight: bold;color:black">Ethics & good decision making</p>
        <p style="font-size:12px;color:black">Episodes 2/2 in Ethics</p>
        <p style="margin-top:10px;font-size: 12px;">GreyHound divisely...</p>
        <div class="para_icons">
          <ion-chip class="action_chips" color="medium">
            <ion-label>1</ion-label>
            <ion-icon color="warning" name="person-outline"></ion-icon>
          </ion-chip>
          <ion-chip color="medium" class="action_chips">
            <ion-label>81</ion-label>
            <ion-icon name="chatbubbles-outline"></ion-icon>
          </ion-chip>
          <ion-chip color="medium" class="action_chips">
            <ion-label>1</ion-label>
            <ion-icon name="attach-outline"></ion-icon>
          </ion-chip>
          <ion-chip color="medium" class="action_chips">
            <ion-label>1</ion-label>
            <ion-icon name="share-social-outline"></ion-icon>
          </ion-chip>
        </div>
      </ion-card-content>
    </ion-card>
  <!-- </div> -->
  

 
</ion-content>

