.data_list{
    background:#f3f3f3;
    
   
   

}
ion-content{
    --overflow: scroll;
    --background: #f3f3f3;
}

.data_card {
    // width:70%;
    margin-top:20px;
   margin:8%;
   margin-top:20px
}


.recommendation_list{
    // width:25%;
    //  float:left;
   
}
.recommendation_data{

}
.action_chips > * {
    font-size: 12px;
   
}
.contents{
    --background:#f3f3f3
}
.data_titles{
    color:grey;
    font-size: 12px;
     margin:5px 15%;
     font-weight: bold;
}