/* ion-content{
    --overflow: scroll;
} */

.circle-icon {
    background: blue;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    padding: 2px;
}